services:

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - frontend
    

  mongodb:
    image: mongo
    container_name: mongo
    restart: unless-stopped
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: salah
      MONGO_INITDB_ROOT_PASSWORD: test
      MONGO_INITDB_DATABASE: flaskdb
      MONGODB_DATA_DIR: /data/db
      MONGODB_LOG_DIR: /dev/null
    volumes:
      - mongo-data:/data/db
    networks:
      - backend

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn --bind 0.0.0.0:5000 app:app
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://salah:test@mongodb:27017/flaskdb?authSource=admin
      MONGODB_DATABASE: flaskdb
      MONGODB_HOSTNAME: mongodb
      MONGODB_USERNAME: salah
      MONGODB_PASSWORD: test
    volumes:
      - appdata:/var/www/
    depends_on:
      - mongodb
    networks:
      - backend
      - frontend

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
    

  

volumes:
  mongo-data:
    driver: local
  appdata:
    driver: local
